<% if (title) { %>
    <h1 id="type-title">
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
        <form action="/account/register" method="post" class="form-styles">
            <label for="fname">
                <h5>
                    First name:
                </h5>
                <input type="text" required id="fname" name="account_firstname" placeholder="Enter your first name">
            </label>
            <label for="lname">
                <h5>
                    Last name:
                </h5>
                <input type="text" required id="lname" name="account_lastname" placeholder="Enter your last name">
            </label>
            <label for="email">
                <h5>
                    Email address:
                </h5>
                <input type="email" required id="email" name="account_email"  placeholder="Enter a valid email address">
            </label>
            <label for="pass">
                <h5>
                    Password:
                </h5>
                <input type="password" required id="pass" name="account_password" class="password-input" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                title="Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character"
                placeholder="Enter a valid password"
                    >
            </label>
            <button type="submit">Register</button>
        </form>